body {
    
    background-color: rgb(206, 206, 11);
}


#top-bar {
    display: flex;
    justify-content: space-around;
    border: black solid 2px;
    padding: 2px;
}

.overview {
    display: flex;
    border: black solid 2px;
    flex-direction: column;
    justify-content: center;
    width: 74%;
    
}

.parks-container{
    display: flex;
    justify-content:flex-start;

}

.heading {
    display: flex;
    justify-content: center;
}

#parks-details {
    display: flex;
    justify-content: flex-end;
}
.weather-container{
border: solid black 2px;
}
.parkcard{
    
   border: black solid 2px;
    
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.eateries-container{
    display: flex;
    justify-content: center;
    align-self: flex-end;
border: solid black 2px;
position: absolute;
right: 0;
width: 25%;
height:34%;


}
.park_name{
    text-align: start;
    display: flex;

}
img {
    width: 10%;
    height: auto;
  }

  #parks-details {
      margin-left: 5em;
  }
 
 